.univ {
    height: 15rem;
    width: 26.25rem;
    /* border-radius: 80%;
    border: 5px solid grey;
    box-sizing: border-box; */
    padding-bottom: 1.0625rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 43.75rem; */
    width: 50%;
    height: auto;
    /* padding-right: 19.44%; */
    /* padding-left: 13.58075em; */
    padding-left: 19.44%;
    padding-bottom: 6.8125rem;
}