* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  max-width: 100dvw;
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --font-teko: Teko, sans-serif;
  --font-dotgothic16: 'DotGothic16', sans-serif;
  --font-notosansjp: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
ul {
  font-family: var(--font-teko);
}

p {
  font-family: var(--font-notosansjp);
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: flex-start;
}

/* ヘッダーの下に内容を配置 */
.content {
  padding-top: 3.5rem;
}

#pagetop {
  top: 0;
}

.button {
  /* position: relative; */
  text-align: center;
  width: fit-content;
  height: fit-content;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}