.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 19.44%;
    padding-left: 19.44%;
    padding-bottom: 6.8125rem;
}