.section {

    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    /* background-color: #d9d9d9; */
    background-image: url(./TopHello_Images/topHelloBG.JPEG);
    background-position: center;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container::after {
    content: "";
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.me {
    position: relative;
    padding-right: 19.44%;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

#me {
    position: relative;
    /* height: 28.625rem; */
    bottom: 0;
    /* width: auto; */
    /* width: 18.09375rem; */
    width: 70%;
    /* height: 28.625rem; */
    height: auto;
    min-width: 253.76px;
    min-height: 401.px;
}

#h1 {
    font-size: 2.5rem;
}

.sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 12.625rem; */
    width: 50%;
}

#gitlogo {
    /* width: 4.6875rem; */
    width: 37.12%;
    height: auto;
    padding-bottom: 10px;
}

#instalogo {
    width: 37.12%;
    height: auto;
    padding-bottom: 10px;
}

.content {
    font-size: 0.875rem;
}

.left {
    position: relative;
    z-index: 1;
    padding-left: 19.44%;
}