.section {

    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* background-color: #d9d9d9; */
    background-image: url(./TopHello_Images/topHelloBG.JPEG);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container::after {
    content: "";
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* .me {
    position: relative;
    padding-right: 19.44%;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
} */

/* #me {
    position: relative;
    bottom: 0;
    width: 70%;
    height: auto;
    min-width: 253.76px;
    min-height: 401px;
} */

.h1 {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
}

.sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 12.625rem; */
    width: 50%;
    max-width: 9.375rem;
}

#gitlogo {
    /* width: 4.6875rem; */
    width: 37.12%;
    height: auto;
    padding-bottom: 10px;
}

#instalogo {
    width: 37.12%;
    height: auto;
    padding-bottom: 10px;
}

.p {
    font-size: 0.875rem;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    padding-left: 19.44%;
    padding-right: 19.44%;
}

@media screen and (min-width: 768px) and (max-width: 960px) {}

@media screen and (max-width: 767px) {
    /* .me {
        display: none;
    }

    .h1 {
        display: flex;
        text-align: center;
    }

    .container {
        justify-content: center;
    }

    .sp_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        padding-left: 19.44%;
        padding-right: 19.44%;
    } */

    .sns {
        max-width: 9.375rem;
    }
}